.story-container-vertical {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  background: black;
}

.story-container-vertical::-webkit-scrollbar {
  display: none;
}

.story-slide-vertical {
  scroll-snap-align: start;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.story-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.app {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
}
